.springy-button-div {
    display: inline-block;
}

.springy-button {
    text-indent: 0;
    cursor: pointer;
    position: relative;
    padding: 4px 12px 4px var(--springy-icon-padding);
    box-sizing: border-box;
    border-width: 0;
    border-radius: var(--springy-border-radius);
    display: inline-block;
    white-space: nowrap;
    line-height: 16px;
    color: var(--springy-text-color);
    background-color: var(--springy-background-color);
    font: var(--sys-body-medium);
}

a.springy-button {
    text-decoration: none;
}

a.springy-button:hover, .springy-button:hover {
    color: var(--springy-text-color);
    background-color: var(--springy-hover-color);
}

a.springy-button:focus {
    color: var(--springy-text-color);
    background-color: var(--springy-background-color);
    opacity: 80%;
    box-shadow: none;
}

.springy-icon {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 16px;
    width: 16px;
}
